.markdown-cheet-sheet
  %dl 
    %dt Headers
    %dd # H1
    %dd ## H2
    %dd ### H3
    %dd #### H4
    %dd ##### H5
  %dl
    %dt Emphasis, aka italics
    %dd *asterisks* or _underscores_
  %dl
    %dt Strong emphasis, aka bold
    %dd **asterisks** or __underscores__
  %dl
    %dt Combined emphasis
    %dd **asterisks and _underscores_**
  %dl
    %dt Strikethrough
    %dd ~~Scratch this.~~
  %dl
    %dt Lists
    %dd 1. First ordered list item
    %dd 2. Another item
    %dd ⋅⋅* Unordered sub-list. 
    %dd 1. Actual numbers don't matter, just that it's a number
    %dd ⋅⋅1. Ordered sub-list
    %dd 4. And another item.
    %br
    %dd * Unordered list can use asterisks
    %dd - Or minuses
    %dd + Or pluses
  %dl
    %dt Links
    %dd [I'm an inline-style link](https://www.google.com)
    %dd [I'm an inline-style link with title](https://www.google.com "Google's Homepage")
    %dd [I'm a reference-style link   %dd [Arbitrary case-insensitive reference text]
    %dd [I'm a relative reference to a repository file](../blob/master/LICENSE)
    %dd [You can use numbers for reference-style link definitions][1]
    %dd Or leave it empty and use the [link text itself]
  %dl
    %dt Images
    %dd Inline-style: ![alt text](https://github.com/icon48.png "Logo Title Text 1")
    %dd Reference-style: ![alt text][logo]
    %br
    %dd [logo]: https://github.com/adam-p/markdown-here/icon48.png "Logo Title Text 2"
  %dl
    %dt Code and Syntax Highlighting
    %dd Inline `code` has `back-ticks around` it.
    %br
    %dd ```javascript
    %dd var s = "JavaScript syntax highlighting";
    %dd alert(s);
    %dd ```
    %br 
    %dd ```python
    %dd s = "Python syntax highlighting"
    %dd print s
    %dd ```
    %br 
    %dd ```
    %dd No language indicated, so no syntax highlighting. 
    %dd 
      :escaped
        But let's throw in a <b>tag</b>.
    %dd ```
  %dl
    %dt Youtube Videos
    %dd 
      :escaped
        <a href="http://www.youtube.com/watch?feature=player_embedded&v=YOUTUBE_VIDEO_ID_HERE" target="_blank"><img src="http://img.youtube.com/vi/YOUTUBE_VIDEO_ID_HERE/0.jpg" alt="IMAGE ALT TEXT HERE" width="240" height="180" border="10" /></a>
    %br
    %dd [![IMAGE ALT TEXT HERE](http://img.youtube.com/vi/YOUTUBE_VIDEO_ID_HERE/0.jpg)](http://www.youtube.com/watch?v=YOUTUBE_VIDEO_ID_HERE)
