%div.container-fluid
  = render :partial => 'layouts/title', locals: { title: "Brandon's Blog" }
  %div.row
    %div.col-md-6.col-md-offset-3
      - flash.each do |name, msg|
        = content_tag :div, msg, class: name
      - if @blogs.length > 0
        -@blogs.reverse.each do |blog|
          %a{ href: "#{blog_path(blog)}" }
            %h2
              =blog[:title]
          - if blog[:created_at].present?
            %p
              =local_time(blog[:created_at])
          - blog["tags"].split(',').each do |tag|
            %span.badge
              = tag
          %hr