%div.container-fluid
  = render :partial => 'layouts/title', locals: { title: @blog.title }
  %div.row
    %div.col-md-6.col-md-offset-3
      .text-center
        Tags: 
        =@blog.tags
      .small.text-center
        =local_time(@blog.created_at)
      .blog-body
        =markdown(@blog.body)
      %hr
      =link_to 'Back', blogs_path