%h1 Hey there mister awesome someone wants to contact you!

%h4 
  Their name: 
= @name

%h4
  Their contact info: 
= @contact_type
,
= @contact_info

%h4
  What they have to say:
= @body

%h4
  Maybe you should msg them!