```javascript
%br
var s = "JavaScript syntax highlighting";
%br
alert(s);
%br
```
%br
%br
```python
%br
s = "Python syntax highlighting"
%br
print s
%br
```
%br
%br
```
%br
No language indicated, so no syntax highlighting. 
%br
But let's throw in a <b>tag</b>.
%br
```
%br