Emphasis, aka italics, with *asterisks* or _underscores_.
%br
Strong emphasis, aka bold, with **asterisks** or __underscores__.
%br
Combined emphasis with **asterisks and _underscores_**.
%br
Strikethrough uses two tildes. ~~Scratch this.~~
%br