Here's our logo (hover to see the title text):
%br
Inline-style: 
%br
![alt text](https://github.com/adam-p/markdown-here/raw/master/src/common/images/icon48.png "Logo Title Text 1")
%br
Reference-style: 
%br
![alt text][logo]
%br
[logo]: https://github.com/adam-p/markdown-here/raw/master/src/common/images/icon48.png "Logo Title Text 2"