1. First ordered list item
%br
⋅⋅* Unordered sub-list. 
%br
1. Actual numbers don't matter, just that it's a number
%br
⋅⋅1. Ordered sub-list
%br
%br
* Unordered list can use: 
%br
* asterisks, - minuses, + pluses