%div.container-fluid
  = render :partial => 'layouts/title', locals: { title: "Brandon's Blog" }
  %div.row
    %div.col-md-6.col-md-offset-3
      %p
        =link_to 'Manage About me', manage_about_me_path
      %p
        =link_to 'Manage Blog', manage_blogs_path
      %p
        =link_to 'Rspec', manage_rspec_path