- title = false unless title
-if title
  %h2.text-center
    =project[:title]
.text-center
  =link_to link_text(project), url_with_protocol(project[:link]), target: "_blank"
.text-center
  =format_tags(project[:tags])
- if project[:description].present?
  .project-description
    %strong
      Description:
    %br
    =markdown(project[:description])
- if project[:details].present?
  .project-details
    %strong
      Details:
    %br
    =markdown(project[:details])