%h1.text-center
  =project[:title]
- if project[:link]
  %p
    %strong
      Link to Work:
    =link_to link_text(project), url_with_protocol(project[:link]), target: "_blank"
- if project[:tags].present? || project[:title].present?
  %p
    %strong
      Tags: 
    - process_tags(project[:tags],project[:title]).split(',').each do |tag|
      - if tag.present?
        %span.badge
          = tag
- if project[:description].present?
  .project-description
    %strong Description:
    =red_markdown(project[:description])
- if project[:details].present?
  .project-details
    %strong Details:
    =red_markdown(project[:details])