%h1.text-center ~~~~Preview~~~~
- title = false unless title
-if title
  %h2.text-center
    =project[:title]
.text-center
  =format_tags(project[:tags])
.text-center
  =link_to project[:link], url_with_protocol(project[:link]), target: "_blank"
- if project[:description].present?
  .project-description
    %strong
      Description:
    %br
    =markdown(project[:description])
- if project[:details].present?
  .project-details
    %strong
      Details:
    %br
    =markdown(project[:details])
%h1.text-center ~~~~~~~~~~~~~~~