.container-fluid
  = render :partial => 'layouts/title', locals: { title: "New Project Post" }
  .row
    .col-md-8.col-md-offset-2.markdown-border
      = render :partial => 'markdown/markdown_cheet_sheet_tabbed'
  .row
    .col-md-6.markdown-preview
    .col-md-6.markdown-preview-border
      = render 'form'
      = link_to 'Back', manage_projects_path