.container-fluid
  = render :partial => 'layouts/title', locals: { title: "Contact Brandon" }
  .row
    .col-md-6.col-md-offset-3
      .text-wrapper
        %p
          Have something to say to me? A question to ask? A website that needs to be built? Use the form below to email me! I will respond as fast as possible but please remember I have other things in life going on too.
        = render 'form'
        %hr
        = link_to 'Back', root_path