// body {
//   color: #333;
//   font-family: verdana, arial, helvetica, sans-serif;
//   font-size: 13px;
//   line-height: 18px;

//   min-height: 100%;
//   height: auto !important;
//   height: 100%;
// }

body {

}

#background-image {
  padding-bottom: 5em;
  background-image: url("milky_way.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}

.markdown-display {
  font-size: 80%;
}

// p, ol, ul, td {
//   font-family: verdana, arial, helvetica, sans-serif;
//   font-size: 13px;
//   line-height: 18px;
// }

// pre {
//   background-color: #eee;
//   padding: 10px;
//   font-size: 11px;
// }

// // a {
// //   color: #000;
// //   &:visited {
// //     color: #666;
// //   }
// //   &:hover {
// //     color: #fff;
// //     background-color: #000;
// //   }
// // }

// div {
//   &.field, &.actions {
//     margin-bottom: 10px;
//   }
// }

.main-image {
  background-image: url("space.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  // background-size:100%;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}

.header-filler {
  min-height: 3em;
}

.markdown-cheet-sheet {
  max-height: 43em;
  overflow: scroll;
}

.notice {
  color: green;
  float: left;
  text-align: center;
}

// .field_with_errors {
//   padding: 2px;
//   background-color: red;
//   display: table;
// }

// #error_explanation {
//   width: 450px;
//   border: 2px solid red;
//   padding: 7px;
//   padding-bottom: 0;
//   margin-bottom: 20px;
//   background-color: #f0f0f0;
//   h2 {
//     text-align: left;
//     font-weight: bold;
//     padding: 5px 5px 0 15px;
//     font-size: 12px;
//     margin: -7px;
//     margin-bottom: 0px;
//     background-color: #c00;
//     color: #fff;
//   }
//   ul li {
//     font-size: 12px;
//     list-style: square;
//   }
// }

// .main-body {
//   width: 60%;
//   padding: 20px;
// }

// .page-title{
//   background-color: #eee;
//   padding: .5em 1em;
//   border-radius: 25px;
// }

.inline {
  display: inline-block;
}

.bottom-border {
  border-bottom: thick solid black;
}

.top-border {
  border-top: thick solid black;
}

.text-wrapper {
  background-color: white;
  border: 1px solid white;
  border-radius: 25px;
  margin-bottom: 2em;
  padding: 1em 1em 1em 1em;
  opacity: 0.80;
  & h2 {
    margin-top: 0;
    margin-bottom: .25em;
  }
}

#main-title {
  border: 1px solid black;
  border-radius: 15px;
  color: black;
  font-size: 150%;
  background-color: white;
  opacity: 0.8;
  padding: .1em .1em .1em .1em;
}

// .align-right {
//   text-align: right;
// }

// .align-center {
//   text-align: center;
// }

// .page-title {
//   padding: 2em 0 2em 0;
// }

// .bold {
//     font-weight: bold;
// }