%div.header
	%div.header-left
		=link_to 'Blog', root_path, class: 'no-decorations'
		=link_to 'About Me', about_me_path, class: 'no-decorations header-links'
	%div.header-right
		%div.twitter.inline.header-img-link
			%a{:href => "https://twitter.com/brjcoding", :target => "_blank", :class => "no-decorations"}
				%i.fa.fa-twitter.fa-2x
		%div.github.inline.header-img-link
			%a{:href => "https://github.com/brandon-jones", :target => "_blank", :class => "no-decorations"}
				%i.fa.fa-github.fa-2x
		%div.linkedin-square.inline.header-img-link
			%a{:href => "https://www.linkedin.com/profile/view?id=265527253&trk=nav_responsive_tab_profile", :target => "_blank", :class => "no-decorations"}
				%i.fa.fa-linkedin-square.fa-2x
		%div.envelope.inline.header-img-link
			%a{:href => "#", :class => "no-decorations"}
				%i.fa.fa-envelope.fa-2x