%nav.navbar.navbar-default#top-header
  .container-fluid 
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#navbar-header", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#{root_path}"} BRJcoding
    / Collect the nav links, forms, and other content for toggling
    #navbar-header.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li{class: "#{current_page('projects')}"}
          =link_to 'Projects', projects_path, class: 'no-decorations'
        %li{class: "#{current_page('about_me')}"}
          =link_to 'About Me', about_me_path, class: 'no-decorations'
        %li{class: "#{current_page('blogs')}"}
          =link_to 'Blog', blogs_path, class: 'no-decorations'
      %div.header-right.control-width
        %div.twitter.inline.header-img-link
          %a{:href => "https://twitter.com/brjcoding", :target => "_blank", :class => "no-decorations"}
            %i.fa.fa-twitter.fa-2x
        %div.github.inline.header-img-link
          %a{:href => "https://github.com/brandon-jones", :target => "_blank", :class => "no-decorations"}
            %i.fa.fa-github.fa-2x
        %div.linkedin-square.inline.header-img-link
          %a{:href => "https://www.linkedin.com/profile/view?id=265527253&trk=nav_responsive_tab_profile", :target => "_blank", :class => "no-decorations"}
            %i.fa.fa-linkedin-square.fa-2x
        %div.envelope.inline.header-img-link
          =link_to contact_me_path, class: "no-decorations" do
            %i.fa.fa-envelope.fa-2x